    <div class="form">
      <form class="new_message" id="new_message" enctype="maltipart/form-data" action="">
        <input name="utf8" type="hidden" value="✔︎">
        <input type="hidden" name="authenticity_token" value="tEXKvMDBh02EVQApBYD63DINkX38PJqT0TdeU3C9IhNAI5KlcEJKpIg1M8osyGhyqZaMaKMmhSUGCOx7eHj4FA==" />
        <div class='input-box'>
          <input placeholder="type a message" class="input-box__text" type="text" name="message[content]" id="message_content" />
          <label class="input-box__image" for="message_image">
          
            <i class="fa fa-image">
            </i>
            <input class="input-box__image__file" type="file" name="message[image]" id="message_image"> 
          </label>
        </div>
        <input type="submit" name="commit" value="Send" class="submit-btn" data-disable-with="Send" />
      </form>
    </div>