    <div class="main-header">
      <div class="main-header__left-box">
        <h2 class="main-header__left-box__current-group" data-group_id="">
        </h2>
        <ul class="main-header__left-box__menber-list"></ul>
      </div>
      <a href="">
        <div class="main-header__edit-btn">Edit</div>
      </a>
    </div>