.flash-box {

  font-size: 1rem;
  font-weight: lighter;
  width: 100vw;

  .notice{
    color: $white;
    text-align: center;
    background-color: $light_blue

  }
  .alert{
    color: $white;
    text-align: center;
    background-color: $alert_orange;

  }
  
  
}
